.main-card
    width: 80vw
    height: 80vh
    display: grid
    place-items: center
    grid-template-columns: 1fr 1fr
    gap: 20px
    color: #1E3340

    
.card-container
    width: 100%
    height: auto
    padding: 16px
    min-width: 350px
    display: grid
    grid-template-columns: 1fr 1fr
    align-content: end
    box-shadow: 8px 8px 5px 0 #bdbdbdbf
    background-color: #f5f5f5
    border-radius: 30px

.container-photo
    margin: 0
    padding: 0
    width: 300px
    height: 200px
    
    p
        margin: 0

    .photo
        width: 250px
        height: 150px
        position: relative
        border-radius: 12px

.container-national-anthem
    width: 280px
    padding: 12px
    height: 300px
    border: 2px dotted #bdbdbdbf
    border-radius: 20px
    overflow-x: hidden
    overflow-y: auto

    .national-anthem
        font-size: 12px
        font-family: 'Helvetica'

@media screen and ( max-width: 1200px )
    .main-card
        display: grid
        grid-template-columns: 1fr
    