.main-city
    width: 90vw
    display: grid
    grid-auto-rows: 1fr auto     
    gap: 44px
    margin-top: 600px

.container-form
    display: grid
    grid-template-columns: 1fr 1fr
    place-content: center
    gap: 12px

.container-data
    display: flex
    place-content: center
    height: 400px
    padding: 24px
    border-radius: 12px
    border: 2px solid black
    overflow-y: auto

.text-acronym
    font-size: 100px
    text-align: center

.form-title
    display: flex
    align-items: center
    gap: 20px
    h2
        font-size: 24px
    h3
        font-size: 20px

.form-city
    display: grid
    width: 90%
    height: 400px
    padding: 16px
    min-width: 350px
    justify-content: center
    box-shadow: 8px 8px 5px 0 #bdbdbdbf
    background-color: #f5f5f5
    border-radius: 30px
    overflow-y: auto
    
.form-city-fields
    display: flex
    flex-direction: column
    font-size: 16px
    gap: 8px

    label
        color: #4b4b4b

    input
        padding: 4px
        border: none
        border-bottom: 2px solid #ccc
        background-color: #f9f9f9
        &:focus
            outline: none
            border: 2px solid #a2a2a2
